extends ../layout

block title
	if (event.i18n.title.get(locale))
		title= event.i18n.title.get(locale).toUpperCase()
	else
		title= 'НАРОДНЫЙ АРХИТЕКТОР'
	if (event.i18n.description.get(locale))
		meta(name='description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(property='og:description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))


		meta(itemprop='name', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(itemprop='description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(name='twitter:card', content='summary')
		each image in event.images
			meta(name='twitter:site', content=image.thumb)
		meta(name='twitter:title', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(name='twitter:description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(property='og:type', content='website')
		meta(property='og:title', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(property='og:description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(name='description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		each image in event.images
			meta(property='og:image', content=image.thumb)
			meta(property='og:image:type', content='image/jpeg')
			meta(property='og:image:width' content='320')
			meta(property='og:image:height', content='459')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/work.css' + version)
	if (event.type == 'design')
		link(rel='stylesheet', type='text/css', href='/build/css/design.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/work.js' + version)

block append works_bg
	.background_works
		each image in event.images.reverse()
			.background_item(style='background-image: url(' + image.original + ')')
block content
	.content_block_inner
		.work_description_block
			h1.work_title= event.i18n.title.get(locale)
			.work_description: != event.i18n.description.get(locale)
		.round_click_block
			.round_dot

block footer
	.dots_block
		each dot in event.images
			.dot ◦
