mixin eventsList(events)
	- var uncategorized = (locale === 'ru' ? 'Без категории' : 'Uncategorized').replace(/ /g, "_").toLowerCase();
	each event in events
		if (event.subsidiary)
			- var className = event.subsidiary.i18n.title.get(locale) ? event.subsidiary.i18n.title.get(locale).replace(/ /g, "_").toLowerCase() : uncategorized

			a.work_item(href='/events/' + event.type +'/' + event._id + '', data-type=event.subsidiary.i18n.title.get(locale), class=className + ' ' + event.date.getFullYear() + ' ' + event.status)
				.item_image.work_images
					.work_image.work_image_big(style='background-image: url(' + (event.images && event.images.length > 0 && event.images[0].thumb)+ ')')
				.work_logo!= event.videos[0]
				.work_title= event.i18n.title.get(locale)
		else
			a.work_item(href='/events/' + event.type +'/' + event._id + '', class=uncategorized + ' ' + event.date.getFullYear() + ' ' + event.status)
				.item_image.work_images
					.work_image.work_image_big(style='background-image: url(' + (event.images && event.images.length > 0 && event.images[0].thumb)+ ')')
				.work_logo!= event.videos[0]
				.work_title= event.i18n.title.get(locale)

	each event in events
		if (event.subsidiary)
			style= 'a[data-type=\''+ event.subsidiary.i18n.title.get(locale) + '\'] svg {fill: ' + event.subsidiary.i18n.adress.get('ru') + ';}'