doctype html
html
	head
		include vars
		include header
	body
		include counters
		block works_bg
		.maket
			.main_block
				.menu_block
					.menu_block_inner
						if (locale == 'ru')
							a.logo(href='/')
						else
							a.logo.logo_eng(href='/')
						.menu_items
							.menu_items_inner
								a(href='/about')= __('О нас')
								a(href='/events/architecture')= __('Архитектура')
								a(href='/events/design')= __('Дизайн')
								a(href='/publish')= __('Публикации')
								a(href='/contacts')= __('Контакты')

						.toggle_lang_block
							if (locale == 'ru')
								a.option.lang(href='/lang/en') EN
							else
								a.option.lang(href='/lang/ru') RU

				.content_block
					block content
				.footer_block
					block footer